body {
    margin: 0 auto;
    padding: 0;
    background-color: #141313!important;
}
#map {
    width: 100%;
    height: 550px;
}
#navbar {
    background-color: #315b7d;
}
#forecast-section {
    height: 40%;
    background-color: #1D1C1C!important;
}
div.forecast-cards {
    width: 18rem;
}
.cards {
    background-color: #1D1C1C!important;
}
h4, span, h1 {
    color: #E1E1E1;
}
#current-weather-section div {
    background-color: #1D1C1C!important;
    color: #E1E1E1;
}
#current-weather-section li {
    background-color: #1D1C1C!important;
    color: #E1E1E1
}
#current-weather-section h4 {
    background-color: #1D1C1C!important;
}
section#forecast-section div {
    background-color: #1D1C1C!important;
}
section#forecast-section li {
    background-color: #1D1C1C!important;
    color: #E1E1E1
}
section#forecast-section h4 {
    background-color: #1D1C1C!important;
}
.cards-header {
    background-color: #1C1A1A!important;
}
#current-weather-section {
    width: 30em;
    margin: 5em;
    background-color: #1D1C1C;
}
#timers {
    width: fit-content;
    display: flex;
    margin: 3px 8px 10px auto;
    background-color: #315b7d;
    color: #E1E1E1;
}
#city {
    color: #E1E1E1;
}
.popup-bg {
    background-color: #1C1A1A!important;
    color: #E1E1E1!important;
}
.hwrap {
    overflow: hidden; /* HIDE SCROLL BAR */
    background: #1D1C1C;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
.hmove {
    display: flex;
}
.hitem {
    flex-shrink: 0;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    color: #E1E1E1;
}
@keyframes tickerh {
    0% { transform: translate3d(100%, 0, 0);}
    100% { transform: translate3d(-200%, 0, 0);}
}
.hmove {animation: tickerh linear 30s infinite;}